@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap');

body {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0;
    background-color: #938aff;
    -ms-overflow-style: none;
    /* IE and Edge Hide Scrollbar*/
    scrollbar-width: none;
    /* Firefox Hide Scrollbar*/
}

body::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera Hide Scrollbar*/
}

.frame {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    width: 100vw;
}

.checkerboard {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100vw;
    max-width: 1920px;
}

.member__section {
    display: flex;
    flex-flow: row wrap;
    width: 93.75vw;
    max-width: 1800px;
    margin: 2.5vw;
}

.titleButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 93.75vw;
    max-width: 1800px;
    height: 6.25vw;
    max-height: 120px;
    border: none;
    border-radius: 1vw 1vw 0 0;
}

.titleButton__hide {
    border-radius: 1vw 1vw 1vw 1vw;
}

.titleButton__icon {
    height: 5.208vw;
    max-height: 100px;
}

.titleButton__kaho {
    background-color: #f8b500;
}

.titleButton__kozue {
    background-color: #68be8d;
}

.titleButton__sayaka {
    background-color: #5383c3;
}

.titleButton__tsuzuri {
    background-color: #c22d3b;
}

.titleButton__rurino {
    background-color: #e7609e;
}

.titleButton__megumi {
    background-color: #c8c2c6;
}

.titleButton__sachi {
    background-color: #758e66;
}

.titleButton__ginko {
    background-color: #a2d7dd;
}

.titleButton__kosuzu {
    background-color: #fad764;
}

.titleButton__hime {
    background-color: #9d8de2;
}

.dr {
    display: flex;
    width: 23.4375vw;
    max-width: 450px;
    height: 10.417vw;
    max-height: 200px;
    background-image: url("dr/dr_background.png");
    background-size: cover;
}

.dr__icon {
    width: 6.667vw;
    height: 9.167vw;
    max-width: 128px;
    max-height: 176px;
    border: 0.25vw transparent solid;
}

.br {
    display: flex;
    width: 23.4375vw;
    max-width: 450px;
    height: 10.417vw;
    max-height: 200px;
    background-color: #f6ffdb;
}

.birthday__icon {
    width: 6.667vw;
    height: 9.167vw;
    max-width: 128px;
    max-height: 176px;
    border: 0.25vw transparent solid;
}

.party {
    display: flex;
    width: 23.4375vw;
    max-width: 450px;
    height: 10.417vw;
    max-height: 200px;
    background-color: #e9dafe;
}

.party__icon {
    width: 6.667vw;
    height: 9.167vw;
    max-width: 128px;
    max-height: 176px;
    border: 0.25vw transparent solid;
}

.special {
    display: flex;
    width: 23.4375vw;
    max-width: 450px;
    height: 10.417vw;
    max-height: 200px;
    background-color: #b2ffdd;
}

.special__icon {
    width: 6.667vw;
    height: 9.167vw;
    max-width: 128px;
    max-height: 176px;
    border: 0.25vw transparent solid;
}

.graduation {
    display: flex;
    width: 93.75vw;
    max-width: 1800px;
    height: 10.417vw;
    max-height: 200px;
    background-color: #e28a9a;
}

.graduation__icon {
    width: 6.667vw;
    height: 9.167vw;
    max-width: 128px;
    max-height: 176px;
    border: 0.25vw transparent solid;
}

.season__icon__section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 23.4375vw;
    max-width: 450px;
    height: 3.75vw;
    max-height: 72px;
}

.season__icon {
    width: 6.25vw;
    max-width: 120px;
    height: 3.75vw;
    max-height: 72px;
}

.spring {
    width: 23.4375vw;
    max-width: 450px;
    background-color: #e6aebc;
}

.summer {
    width: 23.4375vw;
    max-width: 450px;
    background-color: #ffcf4b;
}

.autumn {
    width: 23.4375vw;
    max-width: 450px;
    background-color: #a56861;
}

.winter {
    width: 23.4375vw;
    max-width: 450px;
    background-color: #9fc3e0;
}

.common {
    width: 93.75vw;
    max-width: 1800px;
    background-color: #180134;
}

.bottom {
    border-radius: 0 0 1vw 1vw;
}


.card__section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 23.4375vw;
    height: 10.417vw;
    max-width: 450px;
    max-height: 200px;
}

.commoncard__section {
    display: flex;
    flex-flow: row wrap;
    width: 93.75vw;
    height: 10.417vw;
    max-width: 1800px;
    max-height: 200px;
}

.cardimg {
    width: 6.667vw;
    height: 9.167vw;
    max-width: 128px;
    max-height: 176px;
    opacity: 30%;
    position: absolute;
}

.iconimg {
    width: 6.667vw;
    height: 9.167vw;
    max-width: 128px;
    max-height: 176px;
    position: absolute;
}

.empty {
    width: 6.667vw;
    height: 9.167vw;
    max-width: 128px;
    max-height: 176px;
    border: 0.25vw transparent solid;
}

.card {
    width: 6.667vw;
    height: 9.167vw;
    max-width: 128px;
    max-height: 176px;
    border: 0.25vw transparent solid;
}

.overlay {
    width: 6.667vw;
    height: 9.167vw;
    max-width: 128px;
    max-height: 176px;
    position: absolute;
}

.opacity60 {
    opacity: 60%;
}

.visible {
    opacity: 100%;
}

.invisible {
    opacity: 0%;
}

.strongkaho {
    border: 0.25vw #f8b500 solid;
}

.strongkozue {
    border: 0.25vw #68be8d solid;
}

.strongsayaka {
    border: 0.25vw #5383c3 solid;
}

.strongtsuzuri {
    border: 0.25vw #c22d3b solid;
}

.strongrurino {
    border: 0.25vw #e7609e solid;
}

.strongmegumi {
    border: 0.25vw #c8c2c6 solid;
}

.crazycard {
    border: 0.25vw solid;
    border-image: linear-gradient(45deg, red, orange, yellow, green, blue, navy, purple);
    border-image-slice: 1;
}

.button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Nunito', sans-serif;
    background-color: #ff51c4;
    font-size: 3vw;
    color: white;
    width: 12vw;
    height: 9vw;
    max-width: 230px;
    max-height: 173px;
    line-height: 110%;
    margin: 3.2vw;
    border-radius: 2vw;
    border: none;
}

.buttonimg {
    width: 12vw;
    height: 9vw;
    border-radius: 2vw;
    position: absolute;
}

.checkButton__text {
    font-size: 4vw;
}

dialog {
    background-color: #918afc;
    border: 0;
    border-radius: 20px;
    -ms-overflow-style: none;
    /* IE and Edge 스크롤바 없애기*/
    scrollbar-width: none;
    /*Firefox 스크롤바 없애기*/
}

dialog::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera 스크롤바 없애기*/
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.8);
}

.modal_body {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 30vw;
    height: 30vw;
    max-width: 576px;
    max-height: 576px;
}

.modal__section {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 30vw;
    max-width: 576px;
}

.card__info {
    width: 6.667vw;
    height: 6.667vw;
    max-width: 128px;
    max-height: 128px;
    margin: 0.5vw;
}

.modalCloseButton {
    width: 9vw;
    height: 4vw;
    font-size: 1.5vw;
    margin: 0.5vw;
}

.profile {
    display: flex;
    justify-content: center;
    width: 100vw;
}

.profile>a>img {
    width: 6vw;
    height: 7.5vw;
    max-width: 50px;
    max-height: 62.5px;
    margin: 2vw;
}

.marginZero {
    margin: 0px;
}

.displayNone {
    display: none;
}

@keyframes fadeInOut {
    0% {
        opacity: 100%;
    }

    50% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

.animation {
    animation: fadeInOut 5s infinite;
}

@media (min-width: 800px) {
    .card {
        border: 2px transparent solid;
    }

    .strongkaho {
        border: 2px #f8b500 solid;
    }

    .strongkozue {
        border: 2px #68be8d solid;
    }

    .strongsayaka {
        border: 2px #5383c3 solid;
    }

    .strongtsuzuri {
        border: 2px #c22d3b solid;
    }

    .strongrurino {
        border: 2px #e7609e solid;
    }

    .strongmegumi {
        border: 2px #c8c2c6 solid;
    }

    .crazycard {
        border: 2px solid;
        border-image: linear-gradient(90deg, red, orange, yellow, green, blue, navy, purple);
        border-image-slice: 1;
    }
}