@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap');
body {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0;
    background-color: #938aff;
    -ms-overflow-style: none; /* IE and Edge Hide Scrollbar*/
    scrollbar-width: none; /* Firefox Hide Scrollbar*/
}
body::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera Hide Scrollbar*/
}
.frame {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    width: 100vw;
}
.checkerboard {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100vw;
    max-width: 1920px;
}

.member__section {
    display: flex;
    flex-flow: row wrap;
    width: 93.75vw;
    max-width: 1800px;
    margin: 2.5vw;
}

.sidebar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 93.75vw;
    max-width: 1800px;
    height: 6.25vw;
    max-height: 120px;
    border-radius: 1vw 1vw 0 0;
}
.sidebar__icon {
    height: 5.208vw;
    max-height: 100px;
}
.sidebar__kaho {
    background-color: #f8b500;
}
.sidebar__kozue {
    background-color: #68be8d;
}
.sidebar__sayaka {
    background-color: #5383c3;
}
.sidebar__tsuzuri {
    background-color: #c22d3b;
}
.sidebar__rurino {
    background-color: #e7609e;
}
.sidebar__megumi {
    background-color: #c8c2c6;
}

.dr {
    width: 46.875vw;
    max-width: 900px;
    height: 7.8125vw;
    max-height: 150px;
    background-image: url("dr/dr_background.png");
    background-size: cover;
}

.prismEcho {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 15.625vw;
    max-width: 300px;
    height: 7.8125vw;
    max-height: 150px;
}

.prismEcho__icon {
    width: 6.667vw;
    height: 6.667vw;
    max-width: 128px;
    max-height: 128px;
    border: 0.25vw transparent solid;
}

.party {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 46.875vw;
    max-width: 900px;
    height: 7.8125vw;
    max-height: 150px;
    background-color: #e9dafe;
}

.party__icon {
    width: 6.667vw;
    height: 6.667vw;
    max-width: 128px;
    max-height: 128px;
    border: 0.25vw transparent solid;
}

.season__icon__section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 23.4375vw;
    max-width: 450px;
    height: 3.75vw;
    max-height: 72px;
}

.season__icon {
    width: 6.25vw;
    max-width: 120px;
    height: 2.5vw;
    max-height: 48px;
}
.spring {
    width: 23.4375vw;
    max-width: 450px;
    background-color: #e6aebc;
}

.summer {
    width: 23.4375vw;
    max-width: 450px;
    background-color: #ffcf4b;
}

.autumn {
    width: 23.4375vw;
    max-width: 450px;
    background-color: #a56861;
}

.winter {
    width: 23.4375vw;
    max-width: 450px;
    background-color: #9fc3e0;
}

.normal {
    width: 93.75vw;
    max-width: 1800px;
    background-color: #180134;
    border-radius: 0 0 1vw 1vw;
}



.card__section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 23.4375vw;
    height: 7.8125vw;
    max-width: 450px;
    max-height: 150px;
}

.normalcard__section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 93.75vw;
    height: 7.8125vw;
    max-width: 1800px;
    max-height: 150px;
}
.cardimg {
    width: 6.667vw;
    height: 6.667vw;
    max-width: 128px;
    max-height: 128px;
}
.empty {
    width: 6.667vw;
    height: 6.667vw;
    max-width: 128px;
    max-height: 128px;
    border: 0.25vw transparent solid;
}

.card {
    width: 6.667vw;
    height: 6.667vw;
    max-width: 128px;
    max-height: 128px;
    border: 0.25vw transparent solid;
}

.card__icon {
    width: 6.667vw;
    height: 6.667vw;
    max-width: 128px;
    max-height: 128px;
    position: absolute;
}
.limitbreak {
    width: 6.667vw;
    height: 6.667vw;
    max-width: 128px;
    max-height: 128px;
    position: absolute;
}

.overlay {
    width: 6.667vw;
    height: 6.667vw;
    max-width: 128px;
    max-height: 128px;
    position: absolute;
}

.overlay__spring {
    width: 6.667vw;
    height: 6.667vw;
    max-width: 128px;
    max-height: 128px;
    background-color: #e6aebc;
    opacity: 70%;
    position: absolute;
}

.overlay__summer {
    width: 6.667vw;
    height: 6.667vw;
    max-width: 128px;
    max-height: 128px;
    background-color: #ffcf4b;
    opacity: 70%;
    position: absolute;
}

.overlay__autumn {
    width: 6.667vw;
    height: 6.667vw;
    max-width: 128px;
    max-height: 128px;
    background-color: #a56861;
    opacity: 70%;
    position: absolute;
}

.overlay__normal {
    width: 6.667vw;
    height: 6.667vw;
    max-width: 128px;
    max-height: 128px;
    background-color: #180134;
    opacity: 70%;
    position: absolute;
}

.invisible {
    opacity: 0%;
}

.strongkaho {
    border: 0.25vw #f8b500 solid;
}
.strongkozue {
    border: 0.25vw #68be8d solid;
}
.strongsayaka {
    border: 0.25vw #5383c3 solid;
}
.strongtsuzuri {
    border: 0.25vw #c22d3b solid;
}
.strongrurino {
    border: 0.25vw #e7609e solid;
}
.strongmegumi {
    border: 0.25vw #c8c2c6 solid;
}

.button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Nunito', sans-serif;
    background-color: #ff51c4;
    font-size: 3vw;
    color: white;
    width: 12vw;
    height: 9vw;
    line-height: 110%;
    margin: 3.2vw;
    border-radius: 2vw;
    border: none;
}

.buttonimg {
    width: 12vw;
    height: 9vw;
    position: absolute;
}

.checkButton__text {
    font-size: 4vw;
}

dialog {
    background-color: #918afc;
    border: 0;
    border-radius: 20px;
    -ms-overflow-style: none;  /* IE and Edge 스크롤바 없애기*/
    scrollbar-width: none; /*Firefox 스크롤바 없애기*/
}

dialog::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera 스크롤바 없애기*/
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.8);
}

.modal_body {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 30vw;
    height: 30vw;
    max-width: 576px;
    max-height: 576px;
}
.modal__section {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 30vw;
    max-width: 576px;
}
.card__info {
    width: 6.667vw;
    height: 6.667vw;
    max-width: 128px;
    max-height: 128px;
    margin: 0.5vw;
}

.modalCloseButton {
    width: 9vw;
    height: 4vw;
    font-size: 1.5vw;
    margin: 0.5vw;
}
.profile {
    display: flex;
    justify-content: center;
    width: 100vw;
}

.profile > a > img {
    width: 6vw;
    height: 7.5vw;
    max-width: 50px;
    max-height: 62.5px;
    margin: 2vw;
}

.displayNone {
    display: none;
}

@keyframes fadeInOut {
    0% {
        opacity: 100%;
    }
    50% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

.animation {
    animation: fadeInOut 5s infinite;
}
@media (min-width: 800px) {
    .card {
        border: 2px transparent solid;
    }
    .strongkaho {
        border: 2px #f8b500 solid;
    }
    .strongkozue {
        border: 2px #68be8d solid;
    }
    .strongsayaka {
        border: 2px #5383c3 solid;
    }
    .strongtsuzuri {
        border: 2px #c22d3b solid;
    }
    .strongrurino {
        border: 2px #e7609e solid;
    }
    .strongmegumi {
        border: 2px #c8c2c6 solid;
    }
  }